*{
    box-sizing: border-box;
}
body{
    background:fixed url(../picture/wallpaperflare.com_wallpaper.jpg) ;
    background-size: cover;
    margin: 10px;
    
}
.vox{
    background-color:white ;
    max-width: 400px;
    margin: auto;
    padding: 3px 20px;

    
}
/*border-right:10px double rgb(0, 255, 0);
   border-left:10px double rgb(255, 0, 0);*/

.header_div{
    background-image: url(../picture/Picture.jpg);
    height: 500px;
    width: 500px;
}